<a href="https://colab.research.google.com/github/standroidbeta/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS3_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 19:53:09--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.168.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.168.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  90.5MB/s    in 2.2s

2019-03-26 19:53:11 (90.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [6]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [7]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [8]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd

aisles = pd.read_csv('aisles.csv')

In [8]:
aisles.shape

(134, 2)

In [10]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [11]:
display(example)

aisles doesn't have any columns we need.

### departments

In [12]:
departments = pd.read_csv('departments.csv')

departments.shape

(21, 2)

In [13]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [14]:
display(example)

departments doesn't have any columns we need.

### order_products__prior

In [15]:
order_products__prior = pd.read_csv('order_products__prior.csv')

order_products__prior.shape

(32434489, 4)

In [16]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

***order_products__prior***

*   order_id
*   product_id
*   add_to_cart_order

In [18]:
display(example)

### order_products__train

In [19]:
order_products__train = pd.read_csv('order_products__train.csv')

order_products__train.shape

(1384617, 4)

In [20]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [21]:
display(example)

**orders_products__train** has the same columns as **order_procducts__prior. **

### orders

In [22]:
orders = pd.read_csv('orders.csv')

orders.shape

(3421083, 7)

In [23]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

**orders** has:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [24]:
display(example)

### products

In [25]:
products = pd.read_csv('products.csv')

products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [26]:
order_products = pd.concat([order_products__prior, order_products__train])

order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
# assert 2 + 2 == 5

In [0]:
assert (len(order_products.columns) ==
 len(order_products__prior.columns) ==
 len(order_products__train.columns))

In [29]:
rows, columns = order_products.shape

print('Rows', rows)
print('Columns', columns)

Rows 33819106
Columns 4

In [0]:
a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

In [31]:
condition = order_products['order_id']==2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

From `orders dataframe`

- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = (orders['user_id']==1) & (orders['order_number']<=2)

columns = ['user_id',
          'user_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[condition, columns]

In [33]:
display(example)

## Merge dataframes

In [0]:
# columns = ['order_id', 'add_to_cart_order', 'product_id']

# merged = pd.merge(subset, order_products[columns])

columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')

In [0]:
subset.shape, order_products.shape, merged.shape

In [44]:
subset

   user_id  user_id  order_number  order_dow  order_hour_of_day
0        1        1             1          2                  8
1        1        1             2          3                  7

In [0]:
order_products[columns].head(1)

In [0]:
merged

In [0]:
display(example)

Merge the subset from `orders` with columns from `order_products`

In [0]:
findal = pd.merge(merged, products[['product_id', 'product_name']]

In [0]:
merged.shape, products['product_id', 'product_name'].shape, final.shape

In [0]:
final.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
display(example)

In [0]:
final.columns = column.replece('_', ' ') for column in final

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

##DataFrame with `product_name` Columns

- products

In [46]:
products = pd.read_csv('products.csv')

products.shape

(49688, 4)

In [47]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [55]:
products.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [56]:
products.isna().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [78]:

product_list = products['product_name'].drop_duplicates()

product_list

0                               Chocolate Sandwich Cookies
1                                         All-Seasons Salt
2                     Robust Golden Unsweetened Oolong Tea
3        Smart Ones Classic Favorites Mini Rigatoni Wit...
4                                Green Chile Anytime Sauce
5                                             Dry Nose Oil
6                           Pure Coconut Water With Orange
7                        Cut Russet Potatoes Steam N' Mash
8                        Light Strawberry Blueberry Yogurt
9           Sparkling Orange Juice & Prickly Pear Beverage
10                                       Peach Mango Juice
11                              Chocolate Fudge Layer Cake
12                                       Saline Nasal Mist
13                          Fresh Scent Dishwasher Cleaner
14                                Overnight Diapers Size 6
15                           Mint Chocolate Flavored Syrup
16                                       Rendered Duck Fat
17                     Pizza for One Suprema  Frozen Pizza
18        Gluten Free Quinoa Three Cheese & Mushroom Blend
19          Pomegranate Cranberry & Aloe Vera Enrich Drink
20                        Small & Medium Dental Dog Treats
21                       Fresh Breath Oral Rinse Mild Mint
22                                  Organic Turkey Burgers
23       Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...
24                 Salted Caramel Lean Protein & Fiber Bar
25             Fancy Feast Trout Feast Flaked Wet Cat Food
26       Complete Spring Water Foaming Antibacterial Ha...
27                                       Wheat Chex Cereal
28       Fresh Cut Golden Sweet No Salt Added Whole Ker...
29              Three Cheese Ziti, Marinara with Meatballs
                               ...
49658                              Organic Creamed Coconut
49659                          Professionals Sleek Shampoo
49660                                                Porto
49661                         Bacon Cheddar Pretzel Pieces
49662    Ultra Protein Power Crunch Peanut Butter N' Ho...
49663                       Lemon Cayenne Drinking Vinegar
49664        Super Dark Coconut Ash & Banana Chocolate Bar
49665                        Ginger Snaps Snacking Cookies
49666             Enchilada with Spanish Rice & Beans Meal
49667                       Apple Cinnamon Scented Candles
49668                                     K Cup Dark Blend
49669                                  Beef Summer Sausage
49670                                 Milk Chocolate Drops
49671                               Cafe Mocha K-Cup Packs
49672                Stone Baked Multi Grain Artisan Rolls
49673              Frozen Greek Yogurt Bars Chocolate Chip
49674                  Cinnamon Dolce Keurig Brewed K Cups
49675                               Ultra Red Energy Drink
49676                      Thick & Chunky Sloppy Joe Sauce
49677                      Large Chicken & Cheese Taquitos
49678                              Famous Chocolate Wafers
49679                   All Natural Creamy Caesar Dressing
49680              Spaghetti with Meatballs and Sauce Meal
49681                                   California Limeade
49682                                       Cucumber Kirby
49683            Vodka, Triple Distilled, Twist of Vanilla
49684                   En Croute Roast Hazelnut Cranberry
49685                                     Artisan Baguette
49686           Smartblend Healthy Metabolism Dry Cat Food
49687                               Fresh Foaming Cleanser
Name: product_name, Length: 49688, dtype: object

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.