<a href="https://colab.research.google.com/github/standroidbeta/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Sprintchallenge2/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

In [2]:
cell_phones

      geo  time  cell_phones_total
0     abw  1960                0.0
1     abw  1965                0.0
2     abw  1970                0.0
3     abw  1975                0.0
4     abw  1976                0.0
5     abw  1977                0.0
6     abw  1978                0.0
7     abw  1979                0.0
8     abw  1980                0.0
9     abw  1981                0.0
10    abw  1982                0.0
11    abw  1983                0.0
12    abw  1984                0.0
13    abw  1985                0.0
14    abw  1986                0.0
15    abw  1987                0.0
16    abw  1988                0.0
17    abw  1989                0.0
18    abw  1990                0.0
19    abw  1991                0.0
20    abw  1992               20.0
21    abw  1995             1718.0
22    abw  1996             3000.0
23    abw  1997             3402.0
24    abw  1998             5380.0
25    abw  1999            12000.0
26    abw  2000            15000.0
27    abw  2001            53000.0
28    abw  2002            61800.0
29    abw  2003            69952.0
...   ...   ...                ...
9185  zwe  1988                0.0
9186  zwe  1989                0.0
9187  zwe  1990                0.0
9188  zwe  1991                0.0
9189  zwe  1992                0.0
9190  zwe  1993                0.0
9191  zwe  1994                0.0
9192  zwe  1995                0.0
9193  zwe  1996                0.0
9194  zwe  1997             5734.0
9195  zwe  1998            19000.0
9196  zwe  1999           174000.0
9197  zwe  2000           266441.0
9198  zwe  2001           314002.0
9199  zwe  2002           338779.0
9200  zwe  2003           363651.0
9201  zwe  2004           425745.0
9202  zwe  2005           647110.0
9203  zwe  2006           849146.0
9204  zwe  2007          1225654.0
9205  zwe  2008          1654721.0
9206  zwe  2009          3991000.0
9207  zwe  2010          7700000.0
9208  zwe  2011          9200000.0
9209  zwe  2012         12613935.0
9210  zwe  2013         13633167.0
9211  zwe  2014         11798652.0
9212  zwe  2015         12757410.0
9213  zwe  2016         12878926.0
9214  zwe  2017         14092104.0

[9215 rows x 3 columns]

In [3]:
cell_phones.shape

(9215, 3)

In [4]:
cell_phones['geo'].value_counts()

bih            46
cmr            46
tur            46
egy            46
bdi            46
cze            46
eth            46
pry            46
btn            46
pak            46
bfa            46
omn            46
chl            46
blr            46
ben            46
brb            46
vnm            46
zwe            46
mrt            46
arm            46
guy            46
ven            46
cpv            46
pol            46
che            46
geo            46
chn            46
syc            46
kgz            46
bhr            46
               ..
lca            43
sle            42
sgp            42
abw            41
kna            41
cym            41
atg            39
qat            38
are            36
mhl            36
nru            35
gum            33
asm            30
mnp            28
tca            28
vir            28
sau            28
isr            28
smr            27
vgb            26
pse            22
lie            21
tls            16
plw            14
srb            14
mne            14
nld_curacao     8
ssd             8
kos             6
sxm             1
Name: geo, Length: 214, dtype: int64

In [5]:
cell_phones.isnull().sum()

geo                  0
time                 0
cell_phones_total    0
dtype: int64

In [6]:
population

       geo  time  population_total
0      afg  1800           3280000
1      afg  1801           3280000
2      afg  1802           3280000
3      afg  1803           3280000
4      afg  1804           3280000
5      afg  1805           3280000
6      afg  1806           3280000
7      afg  1807           3280000
8      afg  1808           3280000
9      afg  1809           3280000
10     afg  1810           3280000
11     afg  1811           3280779
12     afg  1812           3282342
13     afg  1813           3284692
14     afg  1814           3287834
15     afg  1815           3291770
16     afg  1816           3296506
17     afg  1817           3302044
18     afg  1818           3308390
19     afg  1819           3315547
20     afg  1820           3323519
21     afg  1821           3332311
22     afg  1822           3341926
23     afg  1823           3352368
24     afg  1824           3363642
25     afg  1825           3375751
26     afg  1826           3388701
27     afg  1827           3402494
28     afg  1828           3417136
29     afg  1829           3432630
...    ...   ...               ...
59267  zwe  2071          36422461
59268  zwe  2072          36674084
59269  zwe  2073          36918818
59270  zwe  2074          37156394
59271  zwe  2075          37386604
59272  zwe  2076          37609317
59273  zwe  2077          37824533
59274  zwe  2078          38032210
59275  zwe  2079          38232406
59276  zwe  2080          38425112
59277  zwe  2081          38610322
59278  zwe  2082          38787965
59279  zwe  2083          38957958
59280  zwe  2084          39120196
59281  zwe  2085          39274605
59282  zwe  2086          39421192
59283  zwe  2087          39559970
59284  zwe  2088          39691002
59285  zwe  2089          39814374
59286  zwe  2090          39930170
59287  zwe  2091          40038459
59288  zwe  2092          40139287
59289  zwe  2093          40232710
59290  zwe  2094          40318796
59291  zwe  2095          40397615
59292  zwe  2096          40469281
59293  zwe  2097          40533896
59294  zwe  2098          40591626
59295  zwe  2099          40642628
59296  zwe  2100          40687107

[59297 rows x 3 columns]

In [7]:
population.shape

(59297, 3)

In [8]:
population['geo'].value_counts()

grc    301
sle    301
lie    301
mhl    301
eth    301
gmb    301
fji    301
gnb    301
isl    301
tha    301
svk    301
bra    301
kna    301
bfa    301
irq    301
swe    301
bwa    301
lao    301
wsm    301
mys    301
tcd    301
plw    301
ind    301
gha    301
bgd    301
pol    301
som    301
nzl    301
syr    301
brb    301
      ...
jpn    301
ken    301
lca    301
aut    301
gin    301
dma    301
alb    301
tur    301
moz    301
mdv    301
mex    301
twn    301
mrt    301
ben    301
tjk    301
hun    301
kir    301
are    301
arg    301
cmr    301
irn    301
atg    301
ton    301
dnk    301
rwa    301
grd    301
sgp    301
ner    301
com    301
hos    301
Name: geo, Length: 197, dtype: int64

In [9]:
population.isnull().sum()

geo                 0
time                0
population_total    0
dtype: int64

In [10]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [0]:
geo_merged = cell_phones[cell_phones.geo.isin(population.geo)]

In [12]:
geo_merged.shape

(8590, 3)

In [13]:
geo_merged.head()

    geo  time  cell_phones_total
41  afg  1960                0.0
42  afg  1965                0.0
43  afg  1970                0.0
44  afg  1975                0.0
45  afg  1976                0.0

In [0]:
time_merged =  population[population.time.isin(cell_phones.time)]

In [15]:
time_merged.shape

(9062, 3)

In [16]:
time_merged.columns

Index(['geo', 'time', 'population_total'], dtype='object')

In [0]:
gt_merged = pd.merge(geo_merged, time_merged, how='inner')

In [18]:
gt_merged.shape

(8590, 4)

In [19]:
gt_merged.head()

   geo  time  cell_phones_total  population_total
0  afg  1960                0.0           8996351
1  afg  1965                0.0           9938414
2  afg  1970                0.0          11126123
3  afg  1975                0.0          12590286
4  afg  1976                0.0          12840299

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
gt_merged['cp_per_person'] = gt_merged['cell_phones_total']/gt_merged['population_total']

In [21]:
gt_merged.shape

(8590, 5)

In [0]:
us = gt_merged.loc[gt_merged['geo'] == 'usa']

In [23]:
us

      geo  time  cell_phones_total  population_total  cp_per_person
8092  usa  1960                0.0         186808228       0.000000
8093  usa  1965                0.0         199815540       0.000000
8094  usa  1970                0.0         209588150       0.000000
8095  usa  1975                0.0         219205296       0.000000
8096  usa  1976                0.0         221239215       0.000000
8097  usa  1977                0.0         223324042       0.000000
8098  usa  1978                0.0         225449657       0.000000
8099  usa  1979                0.0         227599878       0.000000
8100  usa  1980                0.0         229763052       0.000000
8101  usa  1984            91600.0         238573861       0.000384
8102  usa  1985           340213.0         240824120       0.001413
8103  usa  1986           681825.0         243098935       0.002805
8104  usa  1987          1230855.0         245402864       0.005016
8105  usa  1988          2069441.0         247739582       0.008353
8106  usa  1989          3508944.0         250113187       0.014029
8107  usa  1990          5283055.0         252529950       0.020921
8108  usa  1991          7557148.0         254974819       0.029639
8109  usa  1992         11032753.0         257454273       0.042853
8110  usa  1993         16009461.0         260020186       0.061570
8111  usa  1994         24134421.0         262741566       0.091856
8112  usa  1995         33785661.0         265658849       0.127177
8113  usa  1996         44042992.0         268803424       0.163848
8114  usa  1997         55312293.0         272136551       0.203252
8115  usa  1998         69209321.0         275542603       0.251175
8116  usa  1999         86047003.0         278862277       0.308565
8117  usa  2000        109478031.0         281982778       0.388244
8118  usa  2001        128500000.0         284852391       0.451111
8119  usa  2002        141800000.0         287506847       0.493206
8120  usa  2003        160637000.0         290027624       0.553868
8121  usa  2004        184819000.0         292539324       0.631775
8122  usa  2005        203700000.0         295129501       0.690205
8123  usa  2006        229600000.0         297827356       0.770916
8124  usa  2007        249300000.0         300595175       0.829355
8125  usa  2008        261300000.0         303374067       0.861313
8126  usa  2009        274283000.0         306076362       0.896126
8127  usa  2010        285118000.0         308641391       0.923784
8128  usa  2011        297404000.0         311051373       0.956125
8129  usa  2012        304838000.0         313335423       0.972881
8130  usa  2013        310698000.0         315536676       0.984665
8131  usa  2014        355500000.0         317718779       1.118914
8132  usa  2015        382307000.0         319929162       1.194974
8133  usa  2016        395881000.0         322179605       1.228759
8134  usa  2017        395881000.0         324459463       1.220125

In [0]:
us_latest_yr = us.loc[us['time'] == 2017]

In [25]:
us_latest_yr

      geo  time  cell_phones_total  population_total  cp_per_person
8134  usa  2017        395881000.0         324459463       1.220125

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [0]:
gt_merged = gt_merged.apply(lambda x: x.astype(str).str.upper())

In [27]:
gt_merged.tail()

      geo  time cell_phones_total population_total       cp_per_person
8585  ZWE  2013        13633167.0         15054506  0.9055871378310255
8586  ZWE  2014        11798652.0         15411675  0.7655658453737183
8587  ZWE  2015        12757410.0         15777451   0.808584986256652
8588  ZWE  2016        12878926.0         16150362  0.7974388437856688
8589  ZWE  2017        14092104.0         16529904  0.8525218295278666

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [28]:
gt_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8590 entries, 0 to 8589
Data columns (total 5 columns):
geo                  8590 non-null object
time                 8590 non-null object
cell_phones_total    8590 non-null object
population_total     8590 non-null object
cp_per_person        8590 non-null object
dtypes: object(5)
memory usage: 402.7+ KB

In [0]:
gt_merged['time'] = gt_merged['time'].astype(int)

In [0]:
gt_merged['cell_phones_total'] = gt_merged['cell_phones_total'].astype(float).astype(int)

In [0]:
gt_merged['population_total'] = gt_merged['population_total'].astype(int)

In [0]:
gt_merged['cp_per_person'] = gt_merged['cp_per_person'].astype(float)

In [33]:
gt_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8590 entries, 0 to 8589
Data columns (total 5 columns):
geo                  8590 non-null object
time                 8590 non-null int64
cell_phones_total    8590 non-null int64
population_total     8590 non-null int64
cp_per_person        8590 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 402.7+ KB

In [34]:
gt_merged.describe(exclude=object)

              time  cell_phones_total  population_total  cp_per_person
count  8590.000000       8.590000e+03      8.590000e+03    8590.000000
mean   1994.193481       9.004950e+06      2.983823e+07       0.279639
std      14.257975       5.573408e+07      1.161284e+08       0.454247
min    1960.000000       0.000000e+00      4.433000e+03       0.000000
25%    1983.000000       0.000000e+00      1.456148e+06       0.000000
50%    1995.000000       6.200000e+03      5.725062e+06       0.001564
75%    2006.000000       1.697652e+06      1.810581e+07       0.461149
max    2017.000000       1.474097e+09      1.409517e+09       2.490243

In [35]:
gt_merged.describe(exclude='number')

         geo
count   8590
unique   195
top      TTO
freq      46

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [0]:
time = gt_merged.sort_values('cell_phones_total', ascending=False)

In [38]:
time.head()

      geo  time  cell_phones_total  population_total      cp_per_person
1496  CHN  2017         1474097000        1409517397 1.0458168186766978
1495  CHN  2016         1364934000        1403500365 0.9725213003418065
1494  CHN  2015         1291984200        1397028553 0.9248087286588194
1493  CHN  2014         1286093000        1390110388 0.9251732891877361
1492  CHN  2013         1229113000        1382793212 0.8888624772913624

In [0]:
top_countries  = time[time['time'] == 2017].head()

In [40]:
top_countries

      geo  time  cell_phones_total  population_total      cp_per_person
1496  CHN  2017         1474097000        1409517397 1.0458168186766978
3595  IND  2017         1168902277        1339180127 0.8728491809526382
3549  IDN  2017          458923202         263991379  1.738402230172827
8134  USA  2017          395881000         324459463 1.2201246847283354
1084  BRA  2017          236488548         209288278 1.1299655683535224

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [0]:
us_mc_tp = us.loc[us['time'] == 2014]

In [45]:
us_mc_tp

      geo  time  cell_phones_total  population_total     cp_per_person
8131  usa  2014      355,500,000.0         317718779 1.118914031833164

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [0]:
pivot = gt_merged.pivot_table(index='geo', columns='time', values='cell_phones_total')

In [51]:
pivot

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
geo,,,,,,,,,,,,,,,,,,,,,
AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"7,898,909.0","10,500,000.0","10,215,840.0","13,797,879.0","15,340,115.0","16,807,156.0","18,407,168.0","19,709,038.0","21,602,982.0","23,929,713.0"
AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,773,356.0","8,109,421.0","9,403,365.0","12,073,218.0","12,785,109.0","13,285,198.0","14,052,558.0","13,884,532.0","13,001,124.0","13,323,952.0"
ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,859,632.0","2,463,741.0","2,692,372.0","3,100,000.0","3,500,000.0","3,685,983.0","3,359,654.0","3,400,955.0","3,369,756.0","3,497,950.0"
AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"64,202.0","64,549.0","65,495.0","65,044.0","63,865.0","63,931.0","66,241.0","71,336.0","76,132.0","80,337.0"
ARE,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"9,357,735.0","10,671,878.0","10,926,019.0","11,727,401.0","13,775,252.0","16,063,547.0","16,819,024.0","17,942,560.0","19,905,093.0","19,826,224.0"
ARG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"46,508,774.0","52,482,780.0","57,082,298.0","60,722,729.0","64,327,647.0","67,361,515.0","61,234,216.0","61,842,011.0","63,723,692.0","61,897,379.0"
ARM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,442,000.0","2,191,500.0","3,865,354.0","3,211,215.0","3,322,837.0","3,346,275.0","3,459,137.0","3,464,490.0","3,434,567.0","3,488,524.0"
ATG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"136,592.0","134,925.0","167,970.0","176,008.0","127,381.0","114,358.0","120,041.0","176,000.0","180,000.0",nan
AUS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"22,120,000.0","22,200,000.0","22,500,000.0","23,789,000.0","24,338,000.0","24,940,000.0","25,060,000.0","25,770,000.0","26,551,000.0","27,553,000.0"
AUT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"10,816,000.0","11,434,000.0","12,241,000.0","13,022,578.0","13,588,000.0","13,272,000.0","12,952,605.0","13,470,623.0","14,270,000.0","14,924,340.0"
AZE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,548,000.0","7,757,120.0","9,100,113.0","10,120,105.0","10,125,200.0","10,130,102.0","10,552,520.0","10,697,132.0","10,189,000.0","10,127,000.0"
BDI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"480,584.0","920,749.0","1,678,029.0","1,914,586.0","2,247,126.0","2,536,831.0","3,193,257.0","4,997,696.0","5,357,816.0","5,920,612.0"
BEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"11,341,704.0","11,775,240.0","12,154,041.0","12,495,934.0","12,313,375.0","12,315,217.0","12,734,724.0","12,774,090.0","12,550,821.0","11,961,089.0"
BEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,625,366.0","5,033,349.0","7,074,914.0","7,765,206.0","8,407,846.0","9,627,447.0","8,660,432.0","9,317,955.0","8,892,490.0","8,773,044.0"
BFA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,024,150.0","3,823,625.0","5,707,850.0","7,682,100.0","9,976,105.0","11,240,886.0","12,494,391.0","14,446,897.0","15,404,040.0","17,946,375.0"
BGD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"44,640,000.0","51,359,315.0","67,923,887.0","84,368,700.0","97,180,000.0","116,553,076.0","126,866,091.0","131,375,724.0","135,981,846.0","145,113,669.0"
BGR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"10,429,012.0","10,454,822.0","10,199,942.0","10,475,083.0","10,780,732.0","10,486,824.0","9,486,927.0","9,194,633.0","8,973,869.0","8,532,908.0"
BHR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,440,782.0","1,401,974.0","1,567,000.0","1,693,650.0","2,123,903.0","2,210,190.0","2,328,994.0","2,519,055.0","2,994,865.0","2,364,477.0"
BHS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"358,050.0","358,812.0","428,377.0","298,790.0","300,000.0","287,000.0","314,842.0","311,175.0","360,200.0","353,540.0"
BIH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,179,036.0","3,257,239.0","3,110,233.0","3,171,283.0","3,357,541.0","3,488,319.0","3,491,188.0","3,443,520.0","3,404,043.0","3,440,085.0"
BLR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8,128,000.0","9,686,200.0","10,332,900.0","10,694,900.0","10,676,471.0","11,114,440.0","11,401,927.0","11,448,281.0","11,439,866.0","11,415,141.0"
BLZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"160,032.0","161,783.0","194,201.0","222,407.0","172,423.0","174,615.0","172,300.0","211,946.0","227,000.0",nan
BOL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"5,038,600.0","6,464,390.0","7,179,293.0","8,353,273.0","9,493,207.0","10,425,704.0","10,450,341.0","10,162,829.0","10,106,216.0","10,963,224.0"
BRA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"
BRB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"288,662.0","337,061.0","350,061.0","347,917.0","349,296.0","307,708.0","305,456.0","334,792.0","332,208.0","337,791.0"
BRN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"398,857.0","412,882.0","435,104.0","443,161.0","469,740.0","468,814.0","452,054.0","463,384.0","523,453.0","544,732.0"
BTN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"253,429.0","338,938.0","394,316.0","484,189.0","560,890.0","544,337.0","624,536.0","675,747.0","698,373.0","730,623.0"
BWA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,485,791.0","1,874,101.0","2,363,411.0","2,900,263.0","3,081,726.0","3,246,787.0","3,410,507.0","3,475,327.0","3,288,986.0","3,240,589.0"
CAF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"570,000.0","863,641.0","979,232.0","992,444.0","1,143,114.0","1,360,300.0","1,155,620.0","1,242,494.0","1,248,346.0",nan
CAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"22,092,500.0","23,811,900.0","25,825,400.0","26,840,000.0","27,720,000.0","28,360,000.0","28,789,000.0","29,765,000.0","30,752,000.0","31,458,600.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"20,362.0",...,"10,014,000.0","10,440,000.0","10,992,407.0","11,454,252.0","11,848,449.0","12,014,368.0","12,312,533.0","12,638,827.0","12,543,188.0","12,435,709.0"
SWZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"531,643.0","664,432.0","725,802.0","766,540.0","805,000.0","893,000.0","916,800.0","941,000.0","995,000.0",nan
SYC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"93,476.0","110,668.0","117,587.0","126,594.0","136,480.0","136,790.0","151,336.0","148,244.0","151,857.0","167,282.0"
SYR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"7,056,158.0","10,021,861.0","11,696,000.0","12,917,000.0","12,980,000.0","12,291,150.0","14,039,749.0","14,312,271.0","13,349,860.0","15,650,000.0"
TCD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,600,000.0","2,281,320.0","2,875,304.0","3,665,661.0","4,402,282.0","4,561,243.0","5,251,560.0","5,465,797.0","5,585,709.0",nan
TGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,549,542.0","2,187,334.0","2,602,283.0","2,695,335.0","3,312,239.0","4,262,993.0","4,516,114.0","4,855,206.0","5,505,424.0","6,219,981.0"
THA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"61,837,164.0","65,952,313.0","71,726,300.0","77,449,000.0","85,012,000.0","93,849,000.0","97,096,000.0","102,942,000.0","119,669,000.0","121,530,000.0"
TJK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,673,520.0","4,900,000.0","5,940,842.0","6,324,000.0","6,528,000.0","7,537,100.0","7,999,100.0","8,489,000.0","9,400,000.0",nan
TKM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,135,150.0","2,132,890.0","3,197,624.0","5,300,000.0","5,900,000.0","6,125,300.0","7,206,100.0","7,842,000.0","8,575,000.0",nan
TLS,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"125,002.0","350,891.0","473,020.0","614,151.0","621,000.0","650,000.0","1,375,749.0","1,376,669.0","1,492,124.0","1,546,624.0"
TON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"50,472.0","53,000.0","54,300.0","55,000.0","56,000.0","57,500.0","68,000.0","73,493.0","80,000.0",nan
TTO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,806,120.0","1,846,345.0","1,894,240.0","1,826,200.0","1,883,683.0","1,943,873.0","1,980,566.0","2,123,374.0","2,165,847.0","2,030,637.0"
TUN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8,602,164.0","9,797,026.0","11,114,206.0","12,387,656.0","12,843,889.0","12,712,365.0","14,283,633.0","14,595,875.0","14,282,078.0","14,334,080.0"
TUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"65,824,110.0","62,779,554.0","61,769,635.0","65,321,745.0","67,680,547.0","69,661,108.0","71,888,416.0","73,639,261.0","75,061,699.0","77,800,170.0"
TUV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,nan,"1,000.0","1,600.0","2,130.0","2,800.0","3,400.0","3,800.0","6,600.0","7,600.0",nan
TZA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"13,006,793.0","17,469,486.0","20,983,853.0","25,666,455.0","27,219,283.0","27,442,823.0","31,862,656.0","39,665,600.0","40,044,186.0","39,953,860.0"
UGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"8,554,864.0","9,383,734.0","12,828,264.0","16,696,992.0","16,356,387.0","18,068,648.0","20,365,941.0","20,220,273.0","22,838,486.0","24,948,878.0"
UKR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"55,681,476.0","54,942,815.0","53,928,830.0","55,576,481.0","59,343,693.0","62,458,800.0","61,170,229.0","60,720,073.0","56,717,856.0","55,714,733.0"
URY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,507,816.0","4,111,560.0","4,437,158.0","4,757,425.0","4,995,459.0","5,267,947.0","5,497,094.0","5,165,474.0","5,116,736.0","5,097,569.0"
USA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan,...,"261,300,000.0","274,283,000.0","285,118,000.0","297,404,000.0","304,838,000.0","310,698,000.0","355,500,000.0","382,307,000.0","395,881,000.0","395,881,000.0"
UZB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"12,375,274.0","16,417,914.0","20,952,000.0","25,441,789.0","20,274,090.0","21,500,000.0","21,639,200.0","21,783,300.0","23,265,389.0","24,265,460.0"
VCT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"130,098.0","121,114.0","131,791.0","131,809.0","126,992.0","125,378.0","115,017.0","113,371.0","112,649.0","116,161.0"
VEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"27,414,377.0","28,123,570.0","27,880,132.0","28,781,999.0","30,569,073.0","30,896,079.0","30,528,022.0","29,093,517.0","27,600,893.0","24,493,687.0"
VNM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"74,872,310.0","98,223,980.0","111,570,201.0","127,318,045.0","131,673,724.0","123,735,557.0","136,148,124.0","120,324,052.0","120,600,235.0","120,016,181.0"
VUT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"36,000.0","131,682.0","169,935.0","136,956.0","146,084.0","127,244.0","156,051.0","174,818.0","218,603.0","228,016.0"
WSM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,nan,nan,"90,000.0",nan,"100,302.0","99,887.0","106,524.0","120,517.0","151,008.0","124,211.0"
YEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,445,000.0","8,313,000.0","11,085,000.0","11,668,000.0","13,900,000.0","16,844,700.0","17,100,000.0","15,021,953.0","16,433,055.0",nan
ZAF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"45,000,000.0","46,436,000.0","50,372,000.0","64,000,000.0","68,394,000.0","76,865,278.0","79,280,731.0","87,999,492.0","82,412,880.0","91,878,275.0"
ZMB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"3,539,003.0","4,406,682.0","5,446,991.0","8,164,553.0","10,524,676.0","10,395,801.0","10,114,867.0","11,557,725.0","12,017,034.0","13,438,539.0"
ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,654,721.0","3,991,000.0","7,700,000.0","9,200,000.0","12,613,935.0","13,633,167.0","11,798,652.0","12,757,410.0","12,878,926.0","14,092,104.0"

In [0]:
ten_yr_pivot = pivot.loc[:,'2007':'2017']

In [0]:
ten_yr_pivot = ten_yr_pivot.sort_values(by=2007, ascending=False).head()

In [63]:
ten_yr_pivot

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
geo,,,,,,,,,,,
CHN,"547,306,000.0","641,245,000.0","747,214,000.0","859,003,000.0","986,253,000.0","1,112,155,000.0","1,229,113,000.0","1,286,093,000.0","1,291,984,200.0","1,364,934,000.0","1,474,097,000.0"
USA,"249,300,000.0","261,300,000.0","274,283,000.0","285,118,000.0","297,404,000.0","304,838,000.0","310,698,000.0","355,500,000.0","382,307,000.0","395,881,000.0","395,881,000.0"
IND,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0"
RUS,"171,200,000.0","199,522,340.0","230,050,000.0","237,689,224.0","203,751,647.0","208,065,063.0","218,300,372.0","221,030,353.0","227,288,088.0","229,126,152.0","227,341,873.0"
BRA,"120,980,103.0","150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?